* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

.container{
	width: 100%;
	min-height: 100%;
	position: relative;
}

.header {
	text-align: center;
	font-size: 3em;
}

.main-content{
	width: 100%;
	max-width: 800px;
	font-size: 1.5em;
	margin: 0 auto -40px;
	text-align: center;
}

.word-to-guess {
	width: 100%;
	margin-top: 20px;
	border: 2px black solid;
}

.character-of-word{
	padding: 10px;
	display: inline-block;
}

.user-message {
	margin-top: 20px;
	border: 2px black solid;
}

.guesses-remaining{
	margin-top: 20px;
	border: 2px black solid;
}

.characters-guessed{
	margin-top: 20px;
	border: 2px black solid;
}


.footer {
	position: absolute;
	width: 100%;
	height: 40px;
	padding: 10px;
	color: white;
	vertical-align: middle;
	text-align: center;
	background-color: green;
	bottom: -40;
}


